a {
  color: white;
}
a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.inactiveLink 
{
   pointer-events: none;
   cursor: default;
}
body 
{
	background-color:black;
	color:white;
}
.font
{
	font-family: 'Roboto', sans-serif;
}
.titlefont
{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

button
 {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.fixed 
{
  position: fixed;
  width: 50%;
  bottom: 10px;
  left:25%;
  } 
   .small
{
    font-size: 12px;
}
.twitterlinks
{
    height:25px;
    width:25px;
}

.ritit
{
    margin:0;
    padding:0;
}

.padding
{
padding-top:1px;
padding-left:10px;

}

.homeb
{
width:33px;
height:33px;
}

.right
{
	position:absolute;
	right:100px;
}

.made
{
    height:300px;
    width:300px;
}

.rinc
{
    height:300px;
    width:550px;
}
.mrinc
{
    height:190.91px;
    width:350px;
}